{% load static %}
<html>
<head>
    <title>Splash Screen</title>
</head>
<meta http-equiv='cache-control' content='no-cache'>
<meta http-equiv='expires' content='0'>
<meta http-equiv='pragma' content='no-cache'>
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<link rel="stylesheet" type="text/css" href="{% static 'splashscreen.css' %}"/>
<!--<meta http-equiv = "refresh" content = "5; url = {% url 'main' %}" />-->
<script>
    setTimeout(function(){
        //location.reload();
        //window.location.assign("{% url 'main' %}");
        //window.top.location = "{% url 'main' %}";
        location.replace("{% url 'main' %}");
    },5000);
</script>
<body class="welcome">
    <span id="splash-overlay" class="splash"></span>
    <span id="welcome" class="z-depth-4"></span>
  </body>
</html>